<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ChuZuPo</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGoods</display-name>
    <servlet-name>ShowGoods</servlet-name>
    <servlet-class>servlet.lease.ShowGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoods</servlet-name>
    <url-pattern>/showGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaseGoods</display-name>
    <servlet-name>LeaseGoods</servlet-name>
    <servlet-class>servlet.lease.LeaseGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaseGoods</servlet-name>
    <url-pattern>/lease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrder</display-name>
    <servlet-name>MyOrder</servlet-name>
    <servlet-class>servlet.lease.MyOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrder</servlet-name>
    <url-pattern>/myOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnGoods</display-name>
    <servlet-name>ReturnGoods</servlet-name>
    <servlet-class>servlet.lease.ReturnGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnGoods</servlet-name>
    <url-pattern>/return</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRent</display-name>
    <servlet-name>ShowRent</servlet-name>
    <servlet-class>servlet.rent.ShowRent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRent</servlet-name>
    <url-pattern>/showRent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGoods</display-name>
    <servlet-name>DeleteGoods</servlet-name>
    <servlet-class>servlet.rent.DeleteGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoods</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoods</display-name>
    <servlet-name>AddGoods</servlet-name>
    <servlet-class>servlet.rent.AddGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoods</servlet-name>
    <url-pattern>/addGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMain</display-name>
    <servlet-name>AdminMain</servlet-name>
    <servlet-class>servlet.AdminMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMain</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Examine</display-name>
    <servlet-name>Examine</servlet-name>
    <servlet-class>servlet.Examine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Examine</servlet-name>
    <url-pattern>/examine</url-pattern>
  </servlet-mapping>
</web-app>